h1{
    color: white;
    text-align: center;
    padding: 30px;
    border: solid black;
}
p{
    font-size: 20px;
}
ul{
    background-color: yellow;    
}
header {
    background-color: green;
    height: 100px;
}
input {
    padding: 10px;
    border-radius: 50px;
    border-color: green;
}
